<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel='stylesheet', href='./index.css')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.1/TweenMax.min.js")
    title Document
  body
    main
      header.header
        p.header__text HUMAN
      aside.aside
        img.aside__img(src="../src/cross.png")
        ul#ul.aside__list.list
          li.list__element CHEN CHI-MAI
          li.list__element TSAI YING-WEN
          li.list__element TRUMP
          li.list__element HSI CHIN-PING
          li.list__element MA YING-CHIU
          li.list__element KO WEN-CHE
          li.list__element CHIN CHENG-EN
          li.list__element HAN KUO-YU
          li.list__element CHEN CHI-MAI
          li.list__element TSAI YING-WEN
          li.list__element TRUMP
          li.list__element HSI CHIN-PING
          li.list__element MA YING-CHIU
          li.list__element KO WEN-CHE
          li.list__element CHIN CHENG-EN
          li.list__element HAN KUO-YU
          li.list__element CHEN CHI-MAI
          li.list__element TSAI YING-WEN
          li.list__element TRUMP
          li.list__element HSI CHIN-PING
          li.list__element MA YING-CHIU
          li.list__element KO WEN-CHE
          li.list__element CHIN CHENG-EN
          li.list__element HAN KUO-YU
      article.article
        img#img.article__img(src='../src/Ko-resize.png')
    script(src='./index.js')