html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  background-color: #000000;
  height: 100%;
  > main {
    display: grid;
    grid: {
      template-areas:
      'header  aside'
      'content aside'
      'footer  footer';
      columns: 3fr 2fr
    }
    > .header {
      grid-area: header;
      > .header__text {
        color: #ffffff;
        font-weight: bold;
      }
    }
    > .article {
      > .article__img {
        animation-name: fade-right;
        animation-duration: 2s;
        animation-iteration-count: 1;
        @keyframes fade-right {
          0% {
            transform: translateX(-100px);
            opacity: 0;
          }
          100% {
            transform: translateX(0);
            opacity: 1;
          }
        }
      }
    }
  }
}