<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel='stylesheet', href='./index.css')
    title Document
  body
    main
      header.header
        p.header__text HUMAN
      aside.aside
        ul.aside__list.list
          li.list__element Tsai
      article.article
        img.article__img(src='../src/Han-resize.png')
      footer.footer
        ul.footer__list.list
          li.list__element